@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    font-family: 'Courier New', monospace;
}

h2 {
    color: #FFD700;
}

h1 {
    color: #FFD700;
    font-family: 'Roboto', sans-serif;
}

.no {
    color: #008000;
}

.yes {
    color: #ff0000;
}
